<section data-ng-controller="oradbpackagesController" data-ng-init="find()">
  <div class="page-header">
    <h1>Search results</h1>
  </div>

  <form class="form-group">
    <div class="list-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for ..." data-ng-model="searchForm.searchPhrase">
      <!--TODO: type ahead-->
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" data-ng-click="search(searchForm.searchPhrase)">Go!</button>
      </span>
      </div>
    </div>
  </form>

  <div class="list-group borderless-list">
    <a data-ng-repeat="oradbpackage in oradbpackages" ui-sref="oradbpackages.view({name: oradbpackage.name})"
       class="list-group-item">
      <ora-db-package-list-item ng-model="oradbpackage">
      </ora-db-package-list-item>
    </a>
  </div>

  <!-- TODO: CTA for download OraRBPM-CLI -->
  <!--<div class="alert alert-warning text-center" ng-if="oradbpackages.$resolved && !oradbpackages.length">
    You have no packages, why don't you create one</a>?
  </div>-->

</section>
